.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
}